@page
@model AppSecPracticalAssignment.Pages.errors._406Model
@{
    ViewData["title"] = "Not Acceptable";
}

<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">406</h1>
    <p style="font-size: 50px; ">Not Acceptable.</p>
    <p>The data are not acceptable by the web server.</p>
    <p>Please navigate back to <a href="https://localhost:7138">Home</a></p>
</div>